<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="header.html">
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>
    <div th:insert="navbar.html">
    </div>
    <div class="container">
        <form action="/addStudent" method="post">
            <div class="mt-3">
                <div class="row">
                    <div class="col-6">
                        <label>NAME :</label>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-6">
                        <input class="form-control" type="text" name="name" placeholder="Insert name">
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-6">
                        <label>SURNAME :</label>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-6">
                        <input class="form-control" type="text" name="surname" placeholder="Insert surname">
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-6">
                        <label>EXAM :</label>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-6">
                        <input class="form-control" type="text" name="exam" placeholder="Insert exam">
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">ADD STUDENT</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>